WEATHERBIT_API_KEY=your_weatherbit_key
WEATHERBIT_API_URL=https://api.weatherbit.io/v2.0/current
WEATHERBIT_ICON_BASE_URL=https://www.weatherbit.io/static/img/icons/

AVIATIONSTACK_API_KEY=your_aviationstack_key
AVIATIONSTACK_API_URL=http://api.aviationstack.com/v1/flights

FREECURRENCY_API_KEY=your_freecurrency_key
FREECURRENCY_API_URL=https://api.freecurrencyapi.com/v1/latest

WORLDTIME_API_URL=https://worldtimeapi.org/api/timezone/Etc/UTC
