<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<head>
    <title>Погода</title>

</head>
<body>
    <h1>Прогноз погоды</h1>
    <p>{{ name }}, для какого города хотите узнать погоду?</p>

    <form method="post">
        <input type="text" name="city" placeholder="Введите город:" required value="{{ city }}"/>
        <button type="submit">Узнать погоду</button>
    </form>

    {% if weather %}
        <div class="weather-card">
            <h2>Погода в городе {{ city }}</h2>
            <p>Температура: {{ weather.temp }}°C</p>
            <p>Ощущается как: {{ weather.feels_like }}°C</p>
            <p>Влажность: {{ weather.humidity }}%</p>
            <p>{{ weather.description }}</p>
        </div>
    {% elif error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <br/>
    <p><a href="/main/{{ name }}">← Назад на главную</a></p>
    <p><a href="/">Сменить пользователя</a></p>
</body>
</html>